<div ng-controller="VideoController" class="col-lg-12">

	<section id="content" class="shortcode-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2>{{subHeaderText}} > {{trainerVideoData.Name}}</h2> 
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}" data-toggle="tab" class="analistic-01">Know Me</a></li>
                                    <li class=""><a href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/pics" data-toggle="tab" class="analistic-02">Pictures</a></li>
                                    <li class=""><a href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/vids" data-toggle="tab" class="tehnical">Videos</a></li>
                                    <li class=""><a href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/call" data-toggle="tab" class="tehnical">Call Me</a></li>
                                    <li class="active"><a href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/rating" data-toggle="tab" class="tehnical">Rating</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane" id="tab1">

                                    </div>

                                     <div class="tab-pane" id="tab2">

                                        
                                     </div>

                                     <div class="tab-pane" id="tab3">

                                     </div>
                                     
                                     <div class="tab-pane" id="tab4">
                                        
                                     </div>

                                     <div class="tab-pane  active in" id="tab5">
                                        <div class="row">
											<div class="col-md-12">
												<span uib-rating ng-model="totalRate" max="max" read-only="true" aria-labelledby="default-rating"></span>

										    	<pre style="margin:15px 0;">Overall Rating: <b>{{totalRate}}</b> ({{counter}})</pre>
										    </div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" enable-reset="false"></span>

								    			<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

										    	<pre style="margin:15px 0;">My Rating: <b>{{rate}}</b></pre>
										    </div>
										</div>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->
            </div>
        </div>
    </section>

</div>
