<div ng-controller="VideoController" style="min-height: 600px;">

	<header id="head" class="secondary">
            <div class="container">
                    <h1>{{trainerVideoData.Name}}</h1>
                    {{subHeaderText}}
            </div>
    </header>

    
	<img src="assets/images/ajax-loader.gif" class="center-block" ng-hide="!layout.loading"  />

	<ul class="nav nav-tabs">
	    <li ><a data-toggle="tab" href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}">Details</a></li>
	    <li><a data-toggle="tab" href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/pics">Pictures</a></li>
	    <li><a data-toggle="tab" href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/vids">Videos</a></li>
	    <li><a data-toggle="tab" href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/call">Call Me</a></li>
	    <li class="active"><a data-toggle="tab" href="#/videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/rating">Rating</a></li>
  	</ul>

  <div class="tab-content">
    <div id="videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}" class="tab-pane fade">
      
    </div>
    <div id="videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/pics" class="tab-pane fade">

    </div>
    <div id="videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/vids" class="tab-pane fade">
      
    </div>
    <div id="videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/call" class="tab-pane fade">
    	
    </div>

    <div id="videos/{{trainerVideoData.serviceType}}/{{trainerVideoData._id}}/rating" class="tab-pane fade in active">

		<div class="row">
			<div class="col-md-12">
				<span uib-rating ng-model="totalRate" max="max" read-only="true" aria-labelledby="default-rating"></span>

		    	<pre style="margin:15px 0;">Rating: <b>{{totalRate}}</b> ({{counter}})</pre>
		    </div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" enable-reset="false"></span>

    			<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

		    	<pre style="margin:15px 0;">My Rating: <b>{{rate}}</b></pre>
		    </div>
		</div>
    </div>
  </div>
</div>


</div>
